body {
    padding-top: 120px;
    padding-bottom: 20px;
    padding-left: 150px;
    padding-right: 150px;
    background-image: url(img/site/backgrond.png) !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.58), rgba(255, 255, 255, 0.75));
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.06);
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#add-effect{    
}
#add-effect.hover {
    border:5px solid black;
    position:absolute;
    width:100%;
    height:100%;
    top: 0;
    bottom:0;
}
.img{
    height:200px;
    overflow:hidden;
    opacity:0.9;
}
.img:hover{
    opacity:1;
}
#ajax{
    position:absolute;
    /*position:fixed;*/
    bottom:0;
    height:220px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.override-padding{
    padding: 0 !important;
}
.head-char {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: darkblue;
    color: white;
    font-size:42px;
    /*padding: 0 10px;*/
    margin: 1px;
    text-align:center;
    line-height:1em;
    /*наклон*/
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    transform: skewX(-15deg);
    /*тень*/
    box-shadow: inset -5px -5px 5px 1px rgb(16, 17, 40);
    /*скругление*/
    border-radius: 10px 0 10px 0;
}
.head-label {
    display: inline-block;
    color: darkblue;
    font-size: 44px;
}
.head-char > p{
    vertical-align: top !important;
}
.head-labels{
    /*display:inline-block;*/
}
.navbar-brand {
    height: 100px !important;
    opacity:1 !important;
}
.navbar-default {
    background-color: rgba(18, 18, 18, 0) !important;
    box-shadow: inset -3px -3px 3px 0px rgba(192, 183, 183, 0.29);
    background: linear-gradient(to top, rgba(48, 48, 48, 0.15), rgba(63, 63, 63, 0.21));
}
.navbar-nav > li > a {
    color:white !important;
    font-weight:900;
}
.navbar-nav > li > a:hover {
    color: #9aacff !important;
}
.navbar-nav > li:hover {
    color:#e7e6e6 !important;
    border-left: 0.5px solid;
    border-right: 0.5px solid;
    border-color: rgba(11, 11, 11, 0.05);
    background: linear-gradient(to top, rgba(18, 18, 18, 0.01), rgba(48, 49, 65, 0.13));
}
.publish {
    background: linear-gradient(to top, rgba(18, 18, 18, 0.01), rgba(48, 49, 65, 0.05)) !important;
    color: #b5b47c !important;
    border-radius: 0% !important;
    box-shadow: inset -2px -2px 8px 1px rgba(192, 183, 183, 0.29);
    width: 150px;
    margin:10px 0px;
}
.publish:hover span {
    color: darkblue;
}
.delete {
    background: linear-gradient(to top, rgba(18, 18, 18, 0.01), rgba(48, 49, 65, 0.05)) !important;
    color: #b5b47c !important;
    border-radius: 0% !important;
    box-shadow: inset -2px -2px 8px 1px rgba(192, 183, 183, 0.29);
    width: 150px;
    margin: 10px 0px;
}
.delete:hover span{
    color:red;
}